<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android">

    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name">

        <!-- How CodeAssist finds this app at all: it queries the package manager for this action,
             then reads the manifest out of the resource the meta-data points at. -->
        <activity
            android:name=".ui.PluginInfoActivity"
            android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="dev.ide.codeassist.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="dev.ide.codeassist.plugin.manifest"
                android:resource="@raw/codeassist_plugin" />
        </activity>
    </application>

</manifest>
